_n8n/workflows/w3_github_push.json
{"updatedAt":"2026-06-05T18:55:16.578Z","createdAt":"2026-06-05T00:51:26.020Z","id":"VBPua2oP0YQhxdpn","name":"03 -- GitHub Webhook Push","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"github-vanguard","responseMode":"onReceived","options":{}},"id":"webhook-github","name":"Webhook GitHub Push","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"github-vanguard-push"},{"parameters":{"jsCode":"const payload = $input.item.json.body || $input.item.json;\nconst commits = payload.commits || [];\nconst repoName = payload.repository ? payload.repository.full_name : 'vanguard';\nconst branch = payload.ref ? payload.ref.replace('refs/heads/', '') : 'main';\nconst ultimoCommit = commits[commits.length - 1];\nconst mensagem = ultimoCommit ? ultimoCommit.message : 'sem mensagem';\nconst sha = ultimoCommit ? ultimoCommit.id.substring(0, 7) : '0000000';\nconst temResolve = mensagem.includes('[RESOLVE:');\nconst resolveMatch = mensagem.match(/\\[RESOLVE:\\s*([^\\]]+)\\]/);\nconst pendente = resolveMatch ? resolveMatch[1].trim() : '';\nconst linhas = ['[COMMIT] ' + repoName, sha + ' | ' + branch, mensagem];\nif (temResolve) linhas.push('RESOLVE: ' + pendente);\nconst texto = linhas.join('\\n');\nreturn [{ json: { repoName: repoName, branch: branch, sha: sha, mensagem: mensagem, temResolve: temResolve, pendente: pendente, texto: texto } }];"},"id":"code-extrair","name":"Extrair Dados do Push","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"chat_id","value":"8895733647"},{"name":"text","value":"={{ $json.texto }}"}]}},"id":"telegram-commit","name":"Telegram -- Notificar Commit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300]},{"parameters":{"jsCode":"const item = $('Extrair Dados do Push').item.json;\nconst tsStr = new Date().toISOString().replace('T',' ').slice(0,16) + ' UTC';\nconst blocos = [{\n  object:'block',type:'heading_3',\n  heading_3:{rich_text:[{type:'text',text:{content:'Commit '+tsStr}}]}\n}];\nconst linhas = [\n  'SHA: '+(item.sha||'').slice(0,7)+' | Branch: '+(item.branch||''),\n  'Msg: '+(item.mensagem||'').split('\n')[0].slice(0,200)\n];\nif(item.temResolve) linhas.push('RESOLVE: '+item.pendente);\nlinhas.forEach(function(l){\n  blocos.push({object:'block',type:'bulleted_list_item',\n    bulleted_list_item:{rich_text:[{type:'text',text:{content:l}}]}});\n});\nreturn [{ json: { notionChildren: blocos } }];"},"id":"code-notion-w3","name":"Preparar Notion Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_WIP_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":15000},"ignoreResponseCode":true,"jsonBody":"={{ JSON.stringify({ children: $('Preparar Notion Body').item.json.notionChildren }) }}"},"id":"notion-wip-w3","name":"Notion -- Append WIP Board","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"continueOnFail":true},{"id":"w8-post-w3","name":"W-8 -- Sinal Push","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,480],"continueOnFail":true,"parameters":{"method":"POST","url":"https://vanguard-vanguard-n8n.0ul9nk.easypanel.host/webhook/w8-signal-classifier","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({origem:\"W-3\",tipo:\"push\",dados:{branch:$(\"Extrair Dados do Push\").item.json.branch,sha:$(\"Extrair Dados do Push\").item.json.sha},timestamp:new Date().toISOString()}) }}","ignoreResponseCode":true,"options":{"timeout":5000}}}],"connections":{"Webhook GitHub Push":{"main":[[{"node":"Extrair Dados do Push","type":"main","index":0}]]},"Extrair Dados do Push":{"main":[[{"node":"Telegram -- Notificar Commit","type":"main","index":0}]]},"Telegram -- Notificar Commit":{"main":[[{"node":"Preparar Notion Body","type":"main","index":0}]]},"Preparar Notion Body":{"main":[[{"node":"Notion -- Append WIP Board","type":"main","index":0}]]},"Notion -- Append WIP Board":{"main":[[{"node":"W-8 -- Sinal Push","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"3ae4913e-5eda-4174-84d7-65533d3ad467","activeVersionId":"3ae4913e-5eda-4174-84d7-65533d3ad467","versionCounter":8,"triggerCount":1,"shared":[{"updatedAt":"2026-06-05T00:51:26.022Z","createdAt":"2026-06-05T00:51:26.022Z","role":"workflow:owner","workflowId":"VBPua2oP0YQhxdpn","projectId":"Mb9nRcqOOeOWwvQp","project":{"updatedAt":"2026-06-05T00:22:23.279Z","createdAt":"2026-06-05T00:20:22.979Z","id":"Mb9nRcqOOeOWwvQp","name":"Eduardo Vanguard <subdiretor.mnmsgm@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-05T18:55:16.580Z","createdAt":"2026-06-05T18:55:16.580Z","versionId":"3ae4913e-5eda-4174-84d7-65533d3ad467","workflowId":"VBPua2oP0YQhxdpn","nodes":[{"parameters":{"httpMethod":"POST","path":"github-vanguard","responseMode":"onReceived","options":{}},"id":"webhook-github","name":"Webhook GitHub Push","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"github-vanguard-push"},{"parameters":{"jsCode":"const payload = $input.item.json.body || $input.item.json;\nconst commits = payload.commits || [];\nconst repoName = payload.repository ? payload.repository.full_name : 'vanguard';\nconst branch = payload.ref ? payload.ref.replace('refs/heads/', '') : 'main';\nconst ultimoCommit = commits[commits.length - 1];\nconst mensagem = ultimoCommit ? ultimoCommit.message : 'sem mensagem';\nconst sha = ultimoCommit ? ultimoCommit.id.substring(0, 7) : '0000000';\nconst temResolve = mensagem.includes('[RESOLVE:');\nconst resolveMatch = mensagem.match(/\\[RESOLVE:\\s*([^\\]]+)\\]/);\nconst pendente = resolveMatch ? resolveMatch[1].trim() : '';\nconst linhas = ['[COMMIT] ' + repoName, sha + ' | ' + branch, mensagem];\nif (temResolve) linhas.push('RESOLVE: ' + pendente);\nconst texto = linhas.join('\\n');\nreturn [{ json: { repoName: repoName, branch: branch, sha: sha, mensagem: mensagem, temResolve: temResolve, pendente: pendente, texto: texto } }];"},"id":"code-extrair","name":"Extrair Dados do Push","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"chat_id","value":"8895733647"},{"name":"text","value":"={{ $json.texto }}"}]}},"id":"telegram-commit","name":"Telegram -- Notificar Commit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300]},{"parameters":{"jsCode":"const item = $('Extrair Dados do Push').item.json;\nconst tsStr = new Date().toISOString().replace('T',' ').slice(0,16) + ' UTC';\nconst blocos = [{\n  object:'block',type:'heading_3',\n  heading_3:{rich_text:[{type:'text',text:{content:'Commit '+tsStr}}]}\n}];\nconst linhas = [\n  'SHA: '+(item.sha||'').slice(0,7)+' | Branch: '+(item.branch||''),\n  'Msg: '+(item.mensagem||'').split('\n')[0].slice(0,200)\n];\nif(item.temResolve) linhas.push('RESOLVE: '+item.pendente);\nlinhas.forEach(function(l){\n  blocos.push({object:'block',type:'bulleted_list_item',\n    bulleted_list_item:{rich_text:[{type:'text',text:{content:l}}]}});\n});\nreturn [{ json: { notionChildren: blocos } }];"},"id":"code-notion-w3","name":"Preparar Notion Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_WIP_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":15000},"ignoreResponseCode":true,"jsonBody":"={{ JSON.stringify({ children: $('Preparar Notion Body').item.json.notionChildren }) }}"},"id":"notion-wip-w3","name":"Notion -- Append WIP Board","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"continueOnFail":true}],"connections":{"Webhook GitHub Push":{"main":[[{"node":"Extrair Dados do Push","type":"main","index":0}]]},"Extrair Dados do Push":{"main":[[{"node":"Telegram -- Notificar Commit","type":"main","index":0}]]},"Telegram -- Notificar Commit":{"main":[[{"node":"Preparar Notion Body","type":"main","index":0}]]},"Preparar Notion Body":{"main":[[{"node":"Notion -- Append WIP Board","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Eduardo Vanguard","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-05T18:55:16.617Z","id":69,"workflowId":"VBPua2oP0YQhxdpn","versionId":"3ae4913e-5eda-4174-84d7-65533d3ad467","event":"activated","userId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"},{"createdAt":"2026-06-05T18:55:16.608Z","id":68,"workflowId":"VBPua2oP0YQhxdpn","versionId":"3ae4913e-5eda-4174-84d7-65533d3ad467","event":"deactivated","userId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"}]}}