_n8n/workflows/w4_session_close.json
{"updatedAt":"2026-06-05T18:55:17.274Z","createdAt":"2026-06-05T00:52:45.316Z","id":"rMl9OJaA1hazqo1i","name":"04 -- Session Close MEMORIA Update","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"session-close-vanguard","responseMode":"onReceived","options":{}},"id":"webhook-session","name":"Webhook Session Close","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"session-close-vanguard"},{"parameters":{"jsCode":"const payload = $input.item.json.body || $input.item.json;\nconst cliente = payload.cliente || 'GERAL';\nconst principios = payload.principios || [];\nconst friccoes = payload.friccoes || [];\nconst dividas = payload.dividas || [];\nconst documentos_mortos = payload.documentos_mortos || [];\nconst inconsistencias = payload.inconsistencias || [];\nconst ficou_no_ar = payload.ficou_no_ar || '';\nconst diretor_mencionou = payload.diretor_mencionou || '';\nconst data = payload.data || new Date().toLocaleDateString('pt-BR', {timeZone: 'America/Sao_Paulo'});\nconst hora = payload.hora || new Date().toLocaleTimeString('pt-BR', {timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit'});\nconst resumoPrincipios = principios.length > 0 ? principios.map(function(p, i) { return (i+1) + '. ' + p; }).join('\\n') : 'Nenhum principio novo';\nconst resumoFriccoes = friccoes.length > 0 ? friccoes.map(function(f, i) { return (i+1) + '. ' + f; }).join('\\n') : 'Nenhuma friccao';\nconst extraLinhas = [];\nif (documentos_mortos.length > 0) extraLinhas.push('Docs mortos: ' + documentos_mortos.join(', '));\nif (inconsistencias.length > 0) extraLinhas.push('Inconsistencias: ' + inconsistencias.join(', '));\nif (ficou_no_ar) extraLinhas.push('Ficou no ar: ' + ficou_no_ar);\nif (diretor_mencionou) extraLinhas.push('Diretor mencionou: ' + diretor_mencionou);\nconst extraBloco = extraLinhas.length > 0 ? '\\n\\n' + extraLinhas.join('\\n') : '';\nconst texto = 'Sessao encerrada -- ' + data + ' ' + hora + '\\nCliente: ' + cliente + '\\n\\nPrincipios (+' + principios.length + '):\\n' + resumoPrincipios + '\\n\\nFriccoes (+' + friccoes.length + '):\\n' + resumoFriccoes + '\\n\\nDividas: ' + dividas.length + extraBloco;\nreturn [{ json: { cliente: cliente, data: data, hora: hora, texto: texto, principios: principios, friccoes: friccoes, dividas: dividas, documentos_mortos: documentos_mortos, inconsistencias: inconsistencias, ficou_no_ar: ficou_no_ar, diretor_mencionou: diretor_mencionou } }];"},"id":"code-processar","name":"Processar Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"chat_id","value":"8895733647"},{"name":"text","value":"={{ $json.texto }}"}]}},"id":"telegram-sessao","name":"Telegram -- Resumo Sessao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300]},{"parameters":{"jsCode":"const item = $('Processar Payload').item.json;\nconst tsStr = new Date().toISOString().replace('T',' ').slice(0,16)+' UTC';\nconst wipBlocos = [{object:'block',type:'heading_3',\n  heading_3:{rich_text:[{type:'text',text:{content:'Sessao '+tsStr}}]}}];\n['Cliente: '+(item.cliente||'?'),\n 'Principios: +'+(item.principios||[]).length+' | Friccoes: +'+(item.friccoes||[]).length+' | Dividas: +'+(item.dividas||[]).length\n].forEach(function(l){\n  wipBlocos.push({object:'block',type:'bulleted_list_item',\n    bulleted_list_item:{rich_text:[{type:'text',text:{content:l}}]}});\n});\nconst pendBlocos = [{object:'block',type:'heading_3',\n  heading_3:{rich_text:[{type:'text',text:{content:'Dividas '+tsStr}}]}}];\nconst dividas = (item.dividas||[]).length>0 ? item.dividas : ['(sem dividas tecnicas)'];\ndividas.forEach(function(d){\n  pendBlocos.push({object:'block',type:'bulleted_list_item',\n    bulleted_list_item:{rich_text:[{type:'text',text:{content:String(d)}}]}});\n});\nreturn [{ json: { wipChildren: wipBlocos, pendChildren: pendBlocos } }];"},"id":"code-notion-w4","name":"Preparar Notion Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_WIP_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":15000},"ignoreResponseCode":true,"jsonBody":"={{ JSON.stringify({ children: $('Preparar Notion Bodies').item.json.wipChildren }) }}"},"id":"notion-wip-w4","name":"Notion -- Append WIP Board","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"continueOnFail":true},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_PENDENTES_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":15000},"ignoreResponseCode":true,"jsonBody":"={{ JSON.stringify({ children: $('Preparar Notion Bodies').item.json.pendChildren }) }}"},"id":"notion-pend-w4","name":"Notion -- Append Pendentes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,300],"continueOnFail":true}],"connections":{"Webhook Session Close":{"main":[[{"node":"Processar Payload","type":"main","index":0}]]},"Processar Payload":{"main":[[{"node":"Telegram -- Resumo Sessao","type":"main","index":0}]]},"Telegram -- Resumo Sessao":{"main":[[{"node":"Preparar Notion Bodies","type":"main","index":0}]]},"Preparar Notion Bodies":{"main":[[{"node":"Notion -- Append WIP Board","type":"main","index":0}]]},"Notion -- Append WIP Board":{"main":[[{"node":"Notion -- Append Pendentes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"d2e29cab-1d62-46c3-a49f-bc23b8499a60","activeVersionId":"d2e29cab-1d62-46c3-a49f-bc23b8499a60","versionCounter":7,"triggerCount":1,"shared":[{"updatedAt":"2026-06-05T00:52:45.323Z","createdAt":"2026-06-05T00:52:45.323Z","role":"workflow:owner","workflowId":"rMl9OJaA1hazqo1i","projectId":"Mb9nRcqOOeOWwvQp","project":{"updatedAt":"2026-06-05T00:22:23.279Z","createdAt":"2026-06-05T00:20:22.979Z","id":"Mb9nRcqOOeOWwvQp","name":"Eduardo Vanguard <subdiretor.mnmsgm@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-05T18:55:17.275Z","createdAt":"2026-06-05T18:55:17.275Z","versionId":"d2e29cab-1d62-46c3-a49f-bc23b8499a60","workflowId":"rMl9OJaA1hazqo1i","nodes":[{"parameters":{"httpMethod":"POST","path":"session-close-vanguard","responseMode":"onReceived","options":{}},"id":"webhook-session","name":"Webhook Session Close","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"session-close-vanguard"},{"parameters":{"jsCode":"const payload = $input.item.json.body || $input.item.json;\nconst cliente = payload.cliente || 'GERAL';\nconst principios = payload.principios || [];\nconst friccoes = payload.friccoes || [];\nconst dividas = payload.dividas || [];\nconst documentos_mortos = payload.documentos_mortos || [];\nconst inconsistencias = payload.inconsistencias || [];\nconst ficou_no_ar = payload.ficou_no_ar || '';\nconst diretor_mencionou = payload.diretor_mencionou || '';\nconst data = payload.data || new Date().toLocaleDateString('pt-BR', {timeZone: 'America/Sao_Paulo'});\nconst hora = payload.hora || new Date().toLocaleTimeString('pt-BR', {timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit'});\nconst resumoPrincipios = principios.length > 0 ? principios.map(function(p, i) { return (i+1) + '. ' + p; }).join('\\n') : 'Nenhum principio novo';\nconst resumoFriccoes = friccoes.length > 0 ? friccoes.map(function(f, i) { return (i+1) + '. ' + f; }).join('\\n') : 'Nenhuma friccao';\nconst extraLinhas = [];\nif (documentos_mortos.length > 0) extraLinhas.push('Docs mortos: ' + documentos_mortos.join(', '));\nif (inconsistencias.length > 0) extraLinhas.push('Inconsistencias: ' + inconsistencias.join(', '));\nif (ficou_no_ar) extraLinhas.push('Ficou no ar: ' + ficou_no_ar);\nif (diretor_mencionou) extraLinhas.push('Diretor mencionou: ' + diretor_mencionou);\nconst extraBloco = extraLinhas.length > 0 ? '\\n\\n' + extraLinhas.join('\\n') : '';\nconst texto = 'Sessao encerrada -- ' + data + ' ' + hora + '\\nCliente: ' + cliente + '\\n\\nPrincipios (+' + principios.length + '):\\n' + resumoPrincipios + '\\n\\nFriccoes (+' + friccoes.length + '):\\n' + resumoFriccoes + '\\n\\nDividas: ' + dividas.length + extraBloco;\nreturn [{ json: { cliente: cliente, data: data, hora: hora, texto: texto, principios: principios, friccoes: friccoes, dividas: dividas, documentos_mortos: documentos_mortos, inconsistencias: inconsistencias, ficou_no_ar: ficou_no_ar, diretor_mencionou: diretor_mencionou } }];"},"id":"code-processar","name":"Processar Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"chat_id","value":"8895733647"},{"name":"text","value":"={{ $json.texto }}"}]}},"id":"telegram-sessao","name":"Telegram -- Resumo Sessao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300]},{"parameters":{"jsCode":"const item = $('Processar Payload').item.json;\nconst tsStr = new Date().toISOString().replace('T',' ').slice(0,16)+' UTC';\nconst wipBlocos = [{object:'block',type:'heading_3',\n  heading_3:{rich_text:[{type:'text',text:{content:'Sessao '+tsStr}}]}}];\n['Cliente: '+(item.cliente||'?'),\n 'Principios: +'+(item.principios||[]).length+' | Friccoes: +'+(item.friccoes||[]).length+' | Dividas: +'+(item.dividas||[]).length\n].forEach(function(l){\n  wipBlocos.push({object:'block',type:'bulleted_list_item',\n    bulleted_list_item:{rich_text:[{type:'text',text:{content:l}}]}});\n});\nconst pendBlocos = [{object:'block',type:'heading_3',\n  heading_3:{rich_text:[{type:'text',text:{content:'Dividas '+tsStr}}]}}];\nconst dividas = (item.dividas||[]).length>0 ? item.dividas : ['(sem dividas tecnicas)'];\ndividas.forEach(function(d){\n  pendBlocos.push({object:'block',type:'bulleted_list_item',\n    bulleted_list_item:{rich_text:[{type:'text',text:{content:String(d)}}]}});\n});\nreturn [{ json: { wipChildren: wipBlocos, pendChildren: pendBlocos } }];"},"id":"code-notion-w4","name":"Preparar Notion Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_WIP_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":15000},"ignoreResponseCode":true,"jsonBody":"={{ JSON.stringify({ children: $('Preparar Notion Bodies').item.json.wipChildren }) }}"},"id":"notion-wip-w4","name":"Notion -- Append WIP Board","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"continueOnFail":true},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_PENDENTES_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":15000},"ignoreResponseCode":true,"jsonBody":"={{ JSON.stringify({ children: $('Preparar Notion Bodies').item.json.pendChildren }) }}"},"id":"notion-pend-w4","name":"Notion -- Append Pendentes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,300],"continueOnFail":true}],"connections":{"Webhook Session Close":{"main":[[{"node":"Processar Payload","type":"main","index":0}]]},"Processar Payload":{"main":[[{"node":"Telegram -- Resumo Sessao","type":"main","index":0}]]},"Telegram -- Resumo Sessao":{"main":[[{"node":"Preparar Notion Bodies","type":"main","index":0}]]},"Preparar Notion Bodies":{"main":[[{"node":"Notion -- Append WIP Board","type":"main","index":0}]]},"Notion -- Append WIP Board":{"main":[[{"node":"Notion -- Append Pendentes","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Eduardo Vanguard","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-05T18:55:17.308Z","id":71,"workflowId":"rMl9OJaA1hazqo1i","versionId":"d2e29cab-1d62-46c3-a49f-bc23b8499a60","event":"activated","userId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"},{"createdAt":"2026-06-05T18:55:17.300Z","id":70,"workflowId":"rMl9OJaA1hazqo1i","versionId":"d2e29cab-1d62-46c3-a49f-bc23b8499a60","event":"deactivated","userId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"}]}}