_n8n/workflows/w7_veredito_telegram.json
{"id":"KisAa6ynD4btgrkL","name":"07 -- Veredito via Telegram MVP","active":true,"nodes":[{"parameters":{"updates":["message"],"options":{}},"id":"telegram-trigger","name":"Telegram -- Receber Mensagem","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,300],"credentials":{"telegramApi":{"id":"pNmpmjEcJ1RUvpz3","name":"Vanguard IAH Bot"}},"webhookId":"9280a8e2-72ef-4fa0-a025-42fdadfc3662"},{"parameters":{"jsCode":"const msg = $input.item.json.message || {};\nconst texto = (msg.text || '').trim();\nconst chatId = msg.chat ? String(msg.chat.id) : '';\nconst fromId = msg.from ? String(msg.from.id) : '';\nconst DIRETOR_ID = '8895733647'; // LEDGER: Telegram chat_id do Diretor -- identidade fixa, nao valor de negocio\n\nconst isDiretor = (chatId === DIRETOR_ID || fromId === DIRETOR_ID);\n\nif (!isDiretor) {\n  return [{ json: { valido: false, motivo: 'Acesso nao autorizado. Apenas o Diretor emite vereditos.', chatId: chatId || fromId } }];\n}\n\nconst cmdMatch = texto.match(/^\\/(aprovar|rejeitar|veredito)\\s+(.+)/i);\nif (!cmdMatch) {\n  return [{ json: { valido: false, motivo: 'Formato invalido. Use: /aprovar A  ou  /rejeitar B  ou  /veredito D1:A D2:B', chatId: chatId } }];\n}\n\nconst cmd = cmdMatch[1].toLowerCase();\nconst arg = cmdMatch[2].trim().toUpperCase();\n\nlet itens = [];\nif (cmd === 'veredito') {\n  const matches = arg.match(/D\\d+:[ABC]/gi);\n  if (matches) itens = matches.map(function(m){ return { id: m.split(':')[0], veredito: m.split(':')[1] }; });\n} else {\n  const v = cmd === 'aprovar' ? 'A' : 'B';\n  itens = [{ id: arg, veredito: v }];\n}\n\nif (!itens.length) {\n  return [{ json: { valido: false, motivo: 'Nenhum item reconhecido. Use D1:A D2:B', chatId: chatId } }];\n}\n\nconst agora = new Date();\nconst tsFile = agora.toISOString().replace(/[^0-9]/g, '').slice(0, 12);\nconst dataHora = agora.toISOString().replace('T',' ').slice(0,16) + ' UTC';\n\nreturn [{ json: { valido: true, isDiretor: true, cmd: cmd, itens: itens, chatId: chatId, tsFile: tsFile, dataHora: dataHora } }];\n"},"id":"code-parsear","name":"Parsear Comando","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.valido }}","value2":true}]}},"id":"if-valido","name":"Comando Valido?","type":"n8n-nodes-base.if","typeVersion":1,"position":[680,300]},{"parameters":{"jsCode":"const item = $('Parsear Comando').item.json;\n\nconst nomeArquivo = 'VEREDITOS/VEREDITOS_' + item.tsFile + '.json';\n\nconst payload = {\n  timestamp: new Date().toISOString(),\n  dataHora: item.dataHora,\n  vereditos: item.itens,\n  fonte: 'telegram',\n  diretor_confirmado: true\n};\nconst payloadB64 = Buffer.from(JSON.stringify(payload, null, 2), 'utf8').toString('base64');\nconst commitMsg = 'veredito(telegram): ' + item.itens.map(function(i){ return i.id + ':' + i.veredito; }).join(', ');\n\nconst blocos = [];\nblocos.push({\n  object: 'block',\n  type: 'heading_3',\n  heading_3: { rich_text: [{ type: 'text', text: { content: 'Vereditos ' + item.dataHora } }] }\n});\nitem.itens.forEach(function(i) {\n  const label = i.veredito === 'A' ? 'APROVADO' : (i.veredito === 'B' ? 'DEVOLVER' : i.veredito);\n  blocos.push({\n    object: 'block',\n    type: 'bulleted_list_item',\n    bulleted_list_item: { rich_text: [{ type: 'text', text: { content: i.id + ' - ' + label } } ] }\n  });\n});\nblocos.push({\n  object: 'block',\n  type: 'paragraph',\n  paragraph: { rich_text: [{ type: 'text', text: { content: 'Arquivo: ' + nomeArquivo }, annotations: { italic: true, color: 'gray' } }] }\n});\n\nconst linhasConfirm = item.itens.map(function(i){\n  const label = i.veredito === 'A' ? 'APROVADO' : (i.veredito === 'B' ? 'DEVOLVER' : i.veredito);\n  return '  - ' + i.id + ': ' + label;\n}).join('\\n');\n\nconst confirmacao = 'Veredito registrado!\\n' + linhasConfirm + '\\n\\nArquivo: ' + nomeArquivo + '\\n' + item.dataHora;\n\nreturn [{ json: {\n  notionChildren: blocos,\n  confirmacao: confirmacao,\n  chatId: item.chatId,\n  nomeArquivo: nomeArquivo,\n  payloadB64: payloadB64,\n  commitMsg: commitMsg\n} }];\n"},"id":"code-preparar","name":"Preparar Registro","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,200]},{"parameters":{"method":"PUT","url":"={{ 'https://api.github.com/repos/subdiretormnmsgm-commits/vanguard/contents/' + $json.nomeArquivo }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'token ' + $env.GITHUB_PAT_WRITE }}"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: $json.commitMsg, content: $json.payloadB64, committer: { name: 'n8n Vanguard', email: 'subdiretor.mnmsgm@gmail.com' } }) }}","options":{"timeout":15000},"ignoreResponseCode":false},"id":"github-write","name":"GitHub -- Gravar VEREDITOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,200],"continueOnFail":true},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_PENDENTES_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ children: $('Preparar Registro').item.json.notionChildren }) }}","options":{"timeout":15000},"ignoreResponseCode":true},"id":"notion-veredito","name":"Notion -- Log Veredito","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Preparar Registro').item.json.chatId }}"},{"name":"text","value":"={{ $('Preparar Registro').item.json.confirmacao }}"}]}},"id":"telegram-confirmar","name":"Telegram -- Confirmar Veredito","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,200],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Parsear Comando').item.json.chatId }}"},{"name":"text","value":"={{ $('Parsear Comando').item.json.motivo }}"}]}},"id":"telegram-erro","name":"Telegram -- Erro de Formato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,420],"continueOnFail":true}],"connections":{"Telegram -- Receber Mensagem":{"main":[[{"node":"Parsear Comando","type":"main","index":0}]]},"Parsear Comando":{"main":[[{"node":"Comando Valido?","type":"main","index":0}]]},"Comando Valido?":{"main":[[{"node":"Preparar Registro","type":"main","index":0}],[{"node":"Telegram -- Erro de Formato","type":"main","index":0}]]},"Preparar Registro":{"main":[[{"node":"GitHub -- Gravar VEREDITOS","type":"main","index":0}]]},"GitHub -- Gravar VEREDITOS":{"main":[[{"node":"Notion -- Log Veredito","type":"main","index":0}]]},"Notion -- Log Veredito":{"main":[[{"node":"Telegram -- Confirmar Veredito","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null}
