scripts/w10_n8n_healthcheck.json
{
  "name": "W-10 n8n Health Check -- Auto-Manutencao Diaria",
  "nodes": [
    {
      "id": "cron-health",
      "name": "Cron -- 6h30 BRT Diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "30 9 * * *"}]
        }
      }
    },
    {
      "id": "http-get-workflows",
      "name": "HTTP Get Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.N8N_BASE_URL || 'https://vanguard-vanguard-n8n.0ul9nk.easypanel.host') + '/api/v1/workflows?limit=250' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-N8N-API-KEY", "value": "={{ $env.N8N_API_KEY }}"}
          ]
        }
      }
    },
    {
      "id": "http-get-executions",
      "name": "HTTP Get Executions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.N8N_BASE_URL || 'https://vanguard-vanguard-n8n.0ul9nk.easypanel.host') + '/api/v1/executions?status=error&limit=50&includeData=false' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-N8N-API-KEY", "value": "={{ $env.N8N_API_KEY }}"}
          ]
        }
      }
    },
    {
      "id": "code-analyze-health",
      "name": "Analyze Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "// W-10 Analyze Health -- logica pura, sem HTTP calls\n// Recebe dados de 'HTTP Get Workflows' e 'HTTP Get Executions' via n8n node selector\nconst EXPECTED_ACTIVE = ['W-1','W-2','W-3','W-4','W-5','W-6','W-7','W-8','W-9','W-10'];\n\nconst wfNode = $('HTTP Get Workflows').all();\nconst wfData = (wfNode.length > 0) ? wfNode[0].json : { data: [] };\nconst workflows = wfData.data || [];\n\nconst failedExecs = $input.all()[0].json.data || [];\n\nconst now = new Date();\nconst ontem = new Date(now.getTime() - 86400000);\nconst chatId = $env.TELEGRAM_CHAT_ID || '8895733647';\nconst dataHora = now.toISOString().replace('T', ' ').slice(0, 16) + ' UTC';\n\nconst wfMap = {};\nworkflows.forEach(function(w) { wfMap[w.id] = w.name; });\n\nconst erros24h = failedExecs.filter(function(e) {\n  const dt = new Date(e.startedAt || e.createdAt || 0);\n  return dt >= ontem;\n});\n\nconst errorsByWf = {};\nerros24h.forEach(function(e) {\n  const nome = wfMap[e.workflowId] || ('ID:' + e.workflowId);\n  if (!errorsByWf[nome]) errorsByWf[nome] = [];\n  errorsByWf[nome].push({ id: e.id, startedAt: e.startedAt });\n});\n\nconst inactivos = [];\nEXPECTED_ACTIVE.forEach(function(wName) {\n  const found = workflows.find(function(w) { return w.name.indexOf(wName) >= 0; });\n  if (found && !found.active) inactivos.push(found.name);\n});\n\nconst totalWf = workflows.length;\nconst ativosCount = workflows.filter(function(w) { return w.active; }).length;\nconst wfComErro = Object.keys(errorsByWf).length;\nconst temAlerta = wfComErro > 0 || inactivos.length > 0;\n\nlet textoOK = '', textoAlerta = '', antigravityContext = '';\n\nif (!temAlerta) {\n  textoOK = '[OK] n8n SAUDAVEL -- ' + dataHora + '\\n\\nWorkflows: ' + totalWf + ' total | ' + ativosCount + ' ativos\\nErros 24h: 0\\nInativos inesperados: 0\\n\\nSistema operando normalmente. Proximo check: amanha 6h30 BRT.';\n} else {\n  const linhas = ['[ALERTA] n8n FALHA -- ' + dataHora, ''];\n  if (wfComErro > 0) {\n    linhas.push('Erros 24h (' + wfComErro + ' workflow(s)):');\n    Object.keys(errorsByWf).forEach(function(nome) {\n      linhas.push('  - ' + nome + ': ' + errorsByWf[nome].length + ' falha(s)');\n    });\n    linhas.push('');\n  }\n  if (inactivos.length > 0) {\n    linhas.push('Inativos inesperados (' + inactivos.length + '):');\n    inactivos.forEach(function(n) { linhas.push('  - ' + n); });\n    linhas.push('');\n  }\n  antigravityContext = 'Problemas: ' + Object.keys(errorsByWf).concat(inactivos).join(', ') + '. Data: ' + dataHora;\n  linhas.push('[ANTIGRAVITY] Para diagnosticar:');\n  linhas.push('  .\\\\scripts\\\\n8n_antigravity_repair.ps1');\n  linhas.push('  Skill: @n8n-validation-expert -> @systematic-debugging');\n  textoAlerta = linhas.join('\\n');\n}\n\nreturn [{ json: { textoOK: textoOK, textoAlerta: textoAlerta, temAlerta: temAlerta, chatId: chatId, antigravityContext: antigravityContext, wfComErro: wfComErro, inativosCount: inactivos.length, dataHora: dataHora } }];"
      }
    },
    {
      "id": "if-alerta",
      "name": "Tem Falha?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 300],
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.temAlerta }}", "value2": true}]
        }
      }
    },
    {
      "id": "telegram-ok",
      "name": "Telegram -- n8n Saudavel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 420],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {"name": "chat_id", "value": "={{ $json.chatId }}"},
            {"name": "text",    "value": "={{ $json.textoOK }}"}
          ]
        }
      }
    },
    {
      "id": "telegram-alerta",
      "name": "Telegram -- ALERTA Falha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 180],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {"name": "chat_id", "value": "={{ $json.chatId }}"},
            {"name": "text",    "value": "={{ $json.textoAlerta }}"}
          ]
        }
      }
    },
    {
      "id": "github-push-pending",
      "name": "GitHub -- Registrar em PENDING_REVIEW",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 180],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "// Registrar falha no PENDING_REVIEW.md via GitHub API\n// NOTA: $helpers e fetch() NAO disponiveis nesta versao do n8n.\n// Este node usa dados do item anterior e faz chamada via HTTP Request node subsequente.\n// Por hora, apenas passa os dados adiante com flag de pendencia.\nreturn [{ json: { ...$json, githubPushOk: false, githubNote: 'Implementar via HTTP Request node -- $helpers/fetch indisponiveis' } }];"
      }
    },
    {
      "id": "w8-signal-w10",
      "name": "W-8 -- Sinal W-10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 180],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://vanguard-vanguard-n8n.0ul9nk.easypanel.host/webhook/w8-signal-classifier",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({origem:'W-10',tipo:$json.temAlerta?'n8n_falha':'check_rotina',dados:{wf_com_erro:$json.wfComErro,inativos:$json.inativosCount},timestamp:new Date().toISOString()}) }}",
        "options": {"timeout": 5000}
      }
    }
  ],
  "connections": {
    "Cron -- 6h30 BRT Diario": {
      "main": [[{"node": "HTTP Get Workflows", "type": "main", "index": 0}]]
    },
    "HTTP Get Workflows": {
      "main": [[{"node": "HTTP Get Executions", "type": "main", "index": 0}]]
    },
    "HTTP Get Executions": {
      "main": [[{"node": "Analyze Health", "type": "main", "index": 0}]]
    },
    "Analyze Health": {
      "main": [[{"node": "Tem Falha?", "type": "main", "index": 0}]]
    },
    "Tem Falha?": {
      "main": [
        [{"node": "Telegram -- ALERTA Falha", "type": "main", "index": 0}],
        [{"node": "Telegram -- n8n Saudavel",  "type": "main", "index": 0}]
      ]
    },
    "Telegram -- ALERTA Falha": {
      "main": [[{"node": "GitHub -- Registrar em PENDING_REVIEW", "type": "main", "index": 0}]]
    },
    "GitHub -- Registrar em PENDING_REVIEW": {
      "main": [[{"node": "W-8 -- Sinal W-10", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": {},
  "pinData": {}
}
