scripts/w5_workflow_put.json
{
  "name": "05 -- ChurnWatch Diario",
  "nodes": [
    {
      "id": "cron-churn",
      "name": "Cron -- 8h BRT Diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "code-prep-token",
      "name": "Preparar Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const githubToken = $env.GITHUB_PAT_READONLY || '';\nreturn [{ json: { githubToken: githubToken } }];"
      }
    },
    {
      "id": "http-wip",
      "name": "GitHub -- Ler WIP_BOARD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/subdiretormnmsgm-commits/vanguard/contents/CLIENTES/WIP_BOARD.json",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"token \" + $json.githubToken }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        },
        "ignoreResponseCode": true
      }
    },
    {
      "id": "code-processar",
      "name": "Processar WIP -- Calcular Churn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst hoje = new Date();\nlet alertas = [];\nlet resumo = [];\nlet parseErro = false;\n\ntry {\n  // Decodifica base64 do GitHub e strip BOM (FALHA-L: BOM causa Unexpected token)\n  const rawContent = raw.content ? Buffer.from(raw.content.replace(/\n/g,''), 'base64').toString('utf8') : null;\n  if (!rawContent) throw new Error('WIP_BOARD vazio');\n  const content = rawContent.replace(/^﻿/, '');  // strip BOM se presente\n  const wip = JSON.parse(content);\n  const board = wip.board || {};\n  ['build','check','retainer'].forEach(function(col) {\n    (board[col]||[]).forEach(function(p) {\n      const threshold = parseInt(p.churn_watch_threshold) || 3;\n      const ultimoContato = p.ultimo_contato_cliente;\n      if (!ultimoContato) return;\n      const dtUltimo = new Date(ultimoContato);\n      const diasSem = Math.floor((hoje - dtUltimo) / (1000*60*60*24));\n      const status = diasSem >= threshold ? 'ALERTA' : 'OK';\n      resumo.push(p.cliente + ': ' + diasSem + 'd (threshold ' + threshold + 'd) -- ' + status);\n      if (diasSem >= threshold) {\n        alertas.push({\n          cliente: p.cliente,\n          diasSem: diasSem,\n          threshold: threshold,\n          ultimoContato: ultimoContato,\n          projeto: p.projeto || '',\n          status: col.toUpperCase()\n        });\n      }\n    });\n  });\n} catch(e) {\n  parseErro = true;\n  resumo.push('ERRO ao ler WIP_BOARD: ' + e.message);\n  alertas.push({\n    cliente: '[SISTEMA]',\n    diasSem: -1,\n    threshold: 0,\n    ultimoContato: 'N/A',\n    projeto: 'WIP_BOARD JSON INVALIDO -- verificar BOM UTF-8',\n    status: 'ERRO'\n  });\n}\n\nconst dataHora = hoje.toISOString().replace('T',' ').slice(0,16) + ' UTC';\nconst textoResumo = 'ChurnWatch ' + dataHora + '\n\n' + resumo.join('\n');\nlet textoAlerta = '';\nif (alertas.length > 0) {\n  const linhas = alertas.map(function(a) {\n    if (a.diasSem === -1) {\n      return '⚠️ [SISTEMA] WIP_BOARD JSON INVALIDO\n' + a.projeto;\n    }\n    return '⚠️ ' + a.cliente + ' -- ' + a.diasSem + 'd sem contato (limite: ' + a.threshold + 'd)\nUltimo: ' + a.ultimoContato + ' | ' + a.status;\n  });\n  textoAlerta = (parseErro ? 'CHURNWATCH -- ERRO DE PARSE' : 'CHURNWATCH -- ALERTA') + '\n\n' + linhas.join('\n\n');\n}\nreturn [{ json: { textoResumo: textoResumo, textoAlerta: textoAlerta, temAlerta: alertas.length > 0, chatId: $env.TELEGRAM_CHAT_ID || '8895733647' } }];"
      },
      "continueOnFail": true
    },
    {
      "id": "if-alerta",
      "name": "Tem Alerta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.temAlerta }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "telegram-alerta",
      "name": "Telegram -- Alerta Churn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.textoAlerta }}"
            }
          ]
        }
      }
    },
    {
      "id": "telegram-resumo",
      "name": "Telegram -- Resumo Diario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.textoResumo }}"
            }
          ]
        }
      }
    },
    {
      "id": "w8-post-w5",
      "name": "W-8 -- Sinal ChurnWatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        500
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://vanguard-vanguard-n8n.0ul9nk.easypanel.host/webhook/w8-signal-classifier",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({origem:\"W-5\",tipo:$json.temAlerta?\"churn_atencao\":\"check_rotina\",dados:{tem_alerta:$json.temAlerta},timestamp:new Date().toISOString()}) }}",
        "ignoreResponseCode": true,
        "options": {
          "timeout": 5000
        }
      }
    }
  ],
  "connections": {
    "Cron -- 8h BRT Diario": {
      "main": [
        [
          {
            "node": "Preparar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Token": {
      "main": [
        [
          {
            "node": "GitHub -- Ler WIP_BOARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub -- Ler WIP_BOARD": {
      "main": [
        [
          {
            "node": "Processar WIP -- Calcular Churn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar WIP -- Calcular Churn": {
      "main": [
        [
          {
            "node": "Tem Alerta?",
            "type": "main",
            "index": 0
          },
          {
            "node": "W-8 -- Sinal ChurnWatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Alerta?": {
      "main": [
        [
          {
            "node": "Telegram -- Alerta Churn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram -- Resumo Diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Cron -- 8h BRT Diario": {
      "recurrenceRules": []
    }
  }
}