n8n_workflows/workflow_1_checkin_temporal.json
{
  "name": "01 -- Check-in Temporal 7h 13h 20h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"triggerAtHour": 7, "triggerAtMinute": 0},
            {"triggerAtHour": 13, "triggerAtMinute": 0},
            {"triggerAtHour": 20, "triggerAtMinute": 0}
          ]
        }
      },
      "id": "cron-trigger-1",
      "name": "Cron -- 7h 13h 20h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.GITHUB_RAW_WBOARD_URL || 'https://raw.githubusercontent.com/subdiretormnmsgme-commits/vanguard/master/CLIENTES/WIP_BOARD.json' }}",
        "options": {"timeout": 8000},
        "ignoreResponseCode": true
      },
      "id": "http-wip",
      "name": "Ler WIP_BOARD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const agora = new Date();\nconst horaBR = parseInt(agora.toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo', hour: '2-digit', hour12: false}));\nconst dataBR = agora.toLocaleDateString('pt-BR', {timeZone: 'America/Sao_Paulo'});\n\nlet periodo = 'TARDE';\nif (horaBR >= 5 && horaBR < 12) periodo = 'MANHA';\nif (horaBR >= 18) periodo = 'NOITE';\n\nconst saudacoes = {\n  MANHA: 'Bom dia, Diretor.',\n  TARDE: 'Boa tarde, Diretor.',\n  NOITE: 'Boa noite, Diretor.'\n};\n\nlet statusProjetos = '';\ntry {\n  const wip = $('Ler WIP_BOARD').item.json;\n  const board = wip.board || {};\n  const todos = [];\n  if (board.build) todos.push(...board.build);\n  if (board.check) todos.push(...board.check);\n  if (board.entregue) todos.push(...board.entregue);\n  const linhas = todos.map(function(p) {\n    const nome = p.cliente || p.id || 'Projeto';\n    const st = (p.status || 'ATIVO').split(' -- ')[0];\n    return '- ' + nome + ': ' + st;\n  });\n  statusProjetos = linhas.length > 0 ? linhas.join('\\n') : '- (sem projetos ativos)';\n} catch (e) {\n  statusProjetos = '- (WIP_BOARD indisponivel)';\n}\n\nreturn [{\n  json: {\n    periodo: periodo,\n    saudacao: saudacoes[periodo],\n    hora: horaBR,\n    data: dataBR,\n    timestamp: agora.toISOString(),\n    statusProjetos: statusProjetos\n  }\n}];"
      },
      "id": "code-periodo",
      "name": "Detectar Periodo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"chat_id\": 8895733647, \"text\": \"{{ $json.saudacao }}\\n\\nCheck-in Vanguard IAH -- {{ $json.data }}\\n\\nStatus dos projetos:\\n{{ $json.statusProjetos }}\"}"
      },
      "id": "telegram-checkin",
      "name": "Enviar Check-in Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron -- 7h 13h 20h": {
      "main": [[{"node": "Ler WIP_BOARD", "type": "main", "index": 0}]]
    },
    "Ler WIP_BOARD": {
      "main": [[{"node": "Detectar Periodo", "type": "main", "index": 0}]]
    },
    "Detectar Periodo": {
      "main": [[{"node": "Enviar Check-in Telegram", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": ["vanguard", "checkin", "fase1"]
}
