n8n_workflows/workflow_2_monitor_supabase.json
{
  "name": "02 -- Monitor Supabase Horario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"field": "hours", "hoursInterval": 1}
          ]
        }
      },
      "id": "cron-supabase",
      "name": "Cron -- A cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "CONFIGURE: URL Supabase Ingrid + /rest/v1/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-ingrid",
      "name": "Ping Supabase Ingrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE: criar credencial Header Auth com apikey = Service Key Ingrid",
          "name": "Supabase Ingrid Header"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "CONFIGURE: URL Supabase Valdece + /rest/v1/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-valdece",
      "name": "Ping Supabase Valdece",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE: criar credencial Header Auth com apikey = Service Key Valdece",
          "name": "Supabase Valdece Header"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {
              "leftValue": "={{ $('Ping Supabase Ingrid').item.json.statusCode }}",
              "rightValue": 200,
              "operator": {"type": "number", "operation": "notEquals"}
            }
          ]
        }
      },
      "id": "if-ingrid-down",
      "name": "Ingrid Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {
              "leftValue": "={{ $('Ping Supabase Valdece').item.json.statusCode }}",
              "rightValue": 200,
              "operator": {"type": "number", "operation": "notEquals"}
            }
          ]
        }
      },
      "id": "if-valdece-down",
      "name": "Valdece Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "CONFIGURE: ID do chat Telegram do Diretor",
        "text": "ALERTA CRITICO -- Supabase INGRID offline\n\nURL: {{ $('Ping Supabase Ingrid').item.json.url }}\nStatus: {{ $('Ping Supabase Ingrid').item.json.statusCode }}\nHora: {{ $now.format('HH:mm') }}\n\nAcao: verificar dashboard Supabase imediatamente.",
        "additionalFields": {}
      },
      "id": "telegram-alerta-ingrid",
      "name": "ALERTA -- Ingrid Down",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 140],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE: ID da credencial Telegram",
          "name": "Telegram Vanguard"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "CONFIGURE: ID do chat Telegram do Diretor",
        "text": "ALERTA CRITICO -- Supabase VALDECE offline\n\nURL: {{ $('Ping Supabase Valdece').item.json.url }}\nStatus: {{ $('Ping Supabase Valdece').item.json.statusCode }}\nHora: {{ $now.format('HH:mm') }}\n\nAcao: verificar dashboard Supabase imediatamente.",
        "additionalFields": {}
      },
      "id": "telegram-alerta-valdece",
      "name": "ALERTA -- Valdece Down",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 360],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE: ID da credencial Telegram",
          "name": "Telegram Vanguard"
        }
      }
    }
  ],
  "connections": {
    "Cron -- A cada 1 hora": {
      "main": [
        [
          {"node": "Ping Supabase Ingrid", "type": "main", "index": 0},
          {"node": "Ping Supabase Valdece", "type": "main", "index": 0}
        ]
      ]
    },
    "Ping Supabase Ingrid": {
      "main": [[{"node": "Ingrid Down?", "type": "main", "index": 0}]]
    },
    "Ping Supabase Valdece": {
      "main": [[{"node": "Valdece Down?", "type": "main", "index": 0}]]
    },
    "Ingrid Down?": {
      "main": [
        [{"node": "ALERTA -- Ingrid Down", "type": "main", "index": 0}],
        []
      ]
    },
    "Valdece Down?": {
      "main": [
        [{"node": "ALERTA -- Valdece Down", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["vanguard", "monitor", "supabase", "fase1"],
  "notes": "CONFIGURE: URLs e Service Keys de Ingrid e Valdece. chatId Telegram. Ativar apos configurar e testar manualmente."
}
