n8n_workflows/workflow_2_monitor_supabase.json
{
  "name": "02 -- Monitor Supabase Horario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "id": "cron-supabase",
      "name": "Cron -- A cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://yjqvjhezwhepwomukudt.supabase.co/rest/v1/",
        "options": {"timeout": 10000},
        "ignoreResponseCode": true
      },
      "id": "http-ingrid",
      "name": "Ping Supabase Ingrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst ingridOk = !item.error;\nreturn [{ json: { ingridOk: ingridOk } }];"
      },
      "id": "code-ingrid",
      "name": "Checar Ingrid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://ehyaecxqijgyuuiorzcj.supabase.co/rest/v1/",
        "options": {"timeout": 10000},
        "ignoreResponseCode": true
      },
      "id": "http-valdece",
      "name": "Ping Supabase Valdece",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst valdeceOk = !item.error;\nconst ingridOk = $('Checar Ingrid').item.json.ingridOk;\nconst alertas = [];\nif (!ingridOk) alertas.push('INGRID offline');\nif (!valdeceOk) alertas.push('VALDECE offline');\nconst temAlerta = alertas.length > 0;\nconst hora = new Date().toLocaleTimeString('pt-BR', {hour: '2-digit', minute: '2-digit'});\nconst texto = 'ALERTA -- Supabase offline\\n\\n' + alertas.join('\\n') + '\\n\\nHora: ' + hora;\nreturn [{ json: { temAlerta: temAlerta, texto: texto } }];"
      },
      "id": "code-checar",
      "name": "Checar Valdece e Montar Alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {
              "leftValue": "={{ $json.temAlerta }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ]
        }
      },
      "id": "if-alerta",
      "name": "Tem Alerta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8146192723:AAHVZJzzV0R_jp2sAaSE3T2AFFjnzMWuOgE/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {"name": "chat_id", "value": "8895733647"},
            {"name": "text", "value": "={{ $json.texto }}"}
          ]
        }
      },
      "id": "telegram-alerta",
      "name": "ALERTA -- Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    }
  ],
  "connections": {
    "Cron -- A cada 1 hora": {
      "main": [[{"node": "Ping Supabase Ingrid", "type": "main", "index": 0}]]
    },
    "Ping Supabase Ingrid": {
      "main": [[{"node": "Checar Ingrid", "type": "main", "index": 0}]]
    },
    "Checar Ingrid": {
      "main": [[{"node": "Ping Supabase Valdece", "type": "main", "index": 0}]]
    },
    "Ping Supabase Valdece": {
      "main": [[{"node": "Checar Valdece e Montar Alerta", "type": "main", "index": 0}]]
    },
    "Checar Valdece e Montar Alerta": {
      "main": [[{"node": "Tem Alerta?", "type": "main", "index": 0}]]
    },
    "Tem Alerta?": {
      "main": [
        [{"node": "ALERTA -- Telegram", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": ["vanguard", "monitor", "supabase", "fase1"]
}
