n8n_workflows/workflow_1_checkin_temporal.json
{
  "name": "01 -- Check-in Temporal 7h 13h 20h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"triggerAtHour": 7, "triggerAtMinute": 0},
            {"triggerAtHour": 13, "triggerAtMinute": 0},
            {"triggerAtHour": 20, "triggerAtMinute": 0}
          ]
        }
      },
      "id": "cron-trigger-1",
      "name": "Cron -- 7h 13h 20h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const hora = new Date().getHours();\nlet periodo = 'TARDE';\nif (hora >= 5 && hora < 12) periodo = 'MANHA';\nif (hora >= 18) periodo = 'NOITE';\n\nconst saudacoes = {\n  MANHA: 'Bom dia, Diretor.',\n  TARDE: 'Boa tarde, Diretor.',\n  NOITE: 'Boa noite, Diretor.'\n};\n\nreturn [{\n  json: {\n    periodo: periodo,\n    saudacao: saudacoes[periodo],\n    hora: hora,\n    data: new Date().toLocaleDateString('pt-BR'),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-periodo",
      "name": "Detectar Periodo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"chat_id\": 8895733647, \"text\": \"{{ $json.saudacao }}\\n\\nCheck-in Vanguard IAH -- {{ $json.data }}\\n\\nStatus dos projetos:\\n- Ingrid: RETAINER\\n- Valdece: Hypercare ate 18/06\"}"
      },
      "id": "telegram-checkin",
      "name": "Enviar Check-in Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Cron -- 7h 13h 20h": {
      "main": [[{"node": "Detectar Periodo", "type": "main", "index": 0}]]
    },
    "Detectar Periodo": {
      "main": [[{"node": "Enviar Check-in Telegram", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": ["vanguard", "checkin", "fase1"]
}
