n8n_workflows/workflow_4_session_close.json
{
  "name": "04 -- Session Close MEMORIA Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "session-close-vanguard",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-session",
      "name": "Webhook Session Close",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "session-close-vanguard"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.item.json.body || $input.item.json;\nconst cliente = payload.cliente || 'GERAL';\nconst principios = payload.principios || [];\nconst friccoes = payload.friccoes || [];\nconst dividas = payload.dividas || [];\nconst data = payload.data || new Date().toISOString().substring(0, 10);\nconst hora = payload.hora || new Date().toTimeString().substring(0, 5);\nconst resumoPrincipios = principios.length > 0 ? principios.map(function(p, i) { return (i+1) + '. ' + p; }).join('\\n') : 'Nenhum principio novo';\nconst resumoFriccoes = friccoes.length > 0 ? friccoes.map(function(f, i) { return (i+1) + '. ' + f; }).join('\\n') : 'Nenhuma friccao';\nconst texto = 'Sessao encerrada -- ' + data + ' ' + hora + '\\nCliente: ' + cliente + '\\n\\nPrincipios (+' + principios.length + '):\\n' + resumoPrincipios + '\\n\\nFriccoes (+' + friccoes.length + '):\\n' + resumoFriccoes + '\\n\\nDividas: ' + dividas.length;\nreturn [{ json: { cliente: cliente, texto: texto } }];"
      },
      "id": "code-processar",
      "name": "Processar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8146192723:AAHVZJzzV0R_jp2sAaSE3T2AFFjnzMWuOgE/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {"name": "chat_id", "value": "8895733647"},
            {"name": "text", "value": "={{ $json.texto }}"}
          ]
        }
      },
      "id": "telegram-sessao",
      "name": "Telegram -- Resumo Sessao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Session Close": {
      "main": [[{"node": "Processar Payload", "type": "main", "index": 0}]]
    },
    "Processar Payload": {
      "main": [[{"node": "Telegram -- Resumo Sessao", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": ["vanguard", "session-close", "webhook", "fase1"]
}
