n8n_workflows/workflow_3_github_webhook.json
{
  "name": "03 -- GitHub Webhook Push",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-vanguard",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-github",
      "name": "Webhook GitHub Push",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "github-vanguard-push"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.item.json.body || $input.item.json;\nconst commits = payload.commits || [];\nconst repoName = payload.repository ? payload.repository.full_name : 'vanguard';\nconst branch = payload.ref ? payload.ref.replace('refs/heads/', '') : 'main';\nconst ultimoCommit = commits[commits.length - 1];\nconst mensagem = ultimoCommit ? ultimoCommit.message : 'sem mensagem';\nconst sha = ultimoCommit ? ultimoCommit.id.substring(0, 7) : '0000000';\nconst temResolve = mensagem.includes('[RESOLVE:');\nconst resolveMatch = mensagem.match(/\\[RESOLVE:\\s*([^\\]]+)\\]/);\nconst pendente = resolveMatch ? resolveMatch[1] : '';\nconst resolveTexto = temResolve ? 'RESOLVE: ' + pendente : 'sem RESOLVE';\nconst texto = 'Commit -- ' + repoName + '\\n' + sha + ' | ' + branch + '\\n' + mensagem + '\\n' + resolveTexto;\nreturn [{ json: { repoName: repoName, branch: branch, sha: sha, mensagem: mensagem, temResolve: temResolve, pendente: pendente, texto: texto } }];"
      },
      "id": "code-extrair",
      "name": "Extrair Dados do Push",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8146192723:AAHVZJzzV0R_jp2sAaSE3T2AFFjnzMWuOgE/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {"name": "chat_id", "value": "8895733647"},
            {"name": "text", "value": "={{ $json.texto }}"}
          ]
        }
      },
      "id": "telegram-commit",
      "name": "Telegram -- Notificar Commit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook GitHub Push": {
      "main": [[{"node": "Extrair Dados do Push", "type": "main", "index": 0}]]
    },
    "Extrair Dados do Push": {
      "main": [[{"node": "Telegram -- Notificar Commit", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": ["vanguard", "github", "webhook", "fase1"]
}
