_n8n/w1_live.json
{"updatedAt":"2026-06-05T19:15:45.024Z","createdAt":"2026-06-05T00:23:28.128Z","id":"rinBbgMlUTEccnTI","name":"01 -- Check-in Temporal 7h 13h 20h","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7,"triggerAtMinute":0},{"triggerAtHour":13,"triggerAtMinute":0},{"triggerAtHour":20,"triggerAtMinute":0}]}},"id":"cron-trigger-1","name":"Cron -- 7h 13h 20h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300]},{"parameters":{"url":"={{ $env.GITHUB_API_WBOARD_URL || 'https://api.github.com/repos/subdiretormnmsgm-commits/vanguard/contents/CLIENTES/WIP_BOARD.json' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'token ' + $env.GITHUB_PAT_READONLY }}"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{"timeout":10000},"ignoreResponseCode":true},"id":"http-wip","name":"Ler WIP_BOARD","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"continueOnFail":true},{"parameters":{"jsCode":"const agora = new Date();\nconst horaBR = parseInt(agora.toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo', hour: '2-digit', hour12: false}));\nconst dataBR = agora.toLocaleDateString('pt-BR', {timeZone: 'America/Sao_Paulo'});\nlet periodo;\nif (horaBR >= 5 && horaBR < 12) periodo = 'MANHA';\nelse if (horaBR >= 12 && horaBR < 18) periodo = 'TARDE';\nelse periodo = 'NOITE';\nconst saudacoes = {MANHA: 'Bom dia, Diretor.', TARDE: 'Boa tarde, Diretor.', NOITE: 'Boa noite, Diretor.'};\nlet statusProjetos = '';\ntry {\n  const wipRaw = $('Ler WIP_BOARD').item.json;\n  let wip;\n  if (wipRaw && wipRaw.board) {\n    wip = wipRaw;\n  } else if (wipRaw && wipRaw.content) {\n    const decoded = Buffer.from(wipRaw.content.replace(/\\n/g, ''), 'base64').toString('utf8');\n    wip = JSON.parse(decoded.replace(/^\\uFEFF/, ''));\n  } else if (wipRaw && typeof wipRaw.body === 'string') {\n    wip = JSON.parse(wipRaw.body.replace(/^\\uFEFF/, ''));\n  } else {\n    wip = {};\n  }\n  const board = wip.board || {};\n  const todos = [];\n  if (board.build) todos.push(...board.build);\n  if (board.check) todos.push(...board.check);\n  if (board.retainer) todos.push(...board.retainer);\n  if (board.entregue) todos.push(...board.entregue);\n  const linhas = todos.map(function(p) {\n    const nome = p.cliente || p.id || 'Projeto';\n    const st = (p.status || 'ATIVO').split(' -- ')[0];\n    return '- ' + nome + ': ' + st;\n  });\n  statusProjetos = linhas.length > 0 ? linhas.join('\\n') : '- (sem projetos ativos)';\n} catch (e) {\n  statusProjetos = '- (ERRO: ' + e.message + ')';\n}\nreturn [{json: {periodo: periodo, saudacao: saudacoes[periodo], hora: horaBR, data: dataBR, timestamp: agora.toISOString(), statusProjetos: statusProjetos}}];"},"id":"code-periodo","name":"Detectar Periodo","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $env.TELEGRAM_CHAT_ID || '8895733647' }}"},{"name":"text","value":"={{ $json.saudacao + '\\n\\nCheck-in Vanguard IAH -- ' + $json.data + '\\n\\nStatus dos projetos:\\n' + $json.statusProjetos }}"}]}},"id":"telegram-checkin","name":"Enviar Check-in Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,300]},{"parameters":{"jsCode":"const item = $('Detectar Periodo').item.json;\nconst tsStr = new Date().toISOString().replace('T',' ').slice(0,16) + ' UTC';\nconst statusText = String(item.statusProjetos || '');\nconst NL = String.fromCharCode(10);\nconst DOT = String.fromCharCode(183);\nconst normalized = statusText.split(NL).join(DOT);\nconst projLines = normalized.split(DOT).map(function(l){return l.trim();}).filter(function(l){return l.length>0;});\nconst blocos = [{ object:'block', type:'heading_3', heading_3:{rich_text:[{type:'text',text:{content:'Check-in '+tsStr}}]} }];\nif(projLines.length===0) projLines.push(statusText.slice(0,200));\nprojLines.forEach(function(line){\n  blocos.push({object:'block',type:'bulleted_list_item',bulleted_list_item:{rich_text:[{type:'text',text:{content:line}}]}});\n});\nreturn [{ json: { notionChildren: blocos } }];"},"id":"code-notion-w1","name":"Preparar Notion Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_WIP_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":15000},"ignoreResponseCode":true,"jsonBody":"={{ JSON.stringify({ children: $('Preparar Notion Body').item.json.notionChildren }) }}"},"id":"notion-wip-w1","name":"Notion -- Append Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,300],"continueOnFail":true}],"connections":{"Cron -- 7h 13h 20h":{"main":[[{"node":"Ler WIP_BOARD","type":"main","index":0}]]},"Ler WIP_BOARD":{"main":[[{"node":"Detectar Periodo","type":"main","index":0}]]},"Detectar Periodo":{"main":[[{"node":"Enviar Check-in Telegram","type":"main","index":0}]]},"Enviar Check-in Telegram":{"main":[[{"node":"Preparar Notion Body","type":"main","index":0}]]},"Preparar Notion Body":{"main":[[{"node":"Notion -- Append Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Cron -- 7h 13h 20h":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"1652f7fa-54b1-48bf-a719-84fd8db7db9e","activeVersionId":"1652f7fa-54b1-48bf-a719-84fd8db7db9e","versionCounter":31,"triggerCount":1,"shared":[{"updatedAt":"2026-06-05T00:23:28.131Z","createdAt":"2026-06-05T00:23:28.131Z","role":"workflow:owner","workflowId":"rinBbgMlUTEccnTI","projectId":"Mb9nRcqOOeOWwvQp","project":{"updatedAt":"2026-06-05T00:22:23.279Z","createdAt":"2026-06-05T00:20:22.979Z","id":"Mb9nRcqOOeOWwvQp","name":"Eduardo Vanguard <subdiretor.mnmsgm@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-05T19:15:45.025Z","createdAt":"2026-06-05T19:15:45.025Z","versionId":"1652f7fa-54b1-48bf-a719-84fd8db7db9e","workflowId":"rinBbgMlUTEccnTI","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7,"triggerAtMinute":0},{"triggerAtHour":13,"triggerAtMinute":0},{"triggerAtHour":20,"triggerAtMinute":0}]}},"id":"cron-trigger-1","name":"Cron -- 7h 13h 20h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300]},{"parameters":{"url":"={{ $env.GITHUB_API_WBOARD_URL || 'https://api.github.com/repos/subdiretormnmsgm-commits/vanguard/contents/CLIENTES/WIP_BOARD.json' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'token ' + $env.GITHUB_PAT_READONLY }}"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{"timeout":10000},"ignoreResponseCode":true},"id":"http-wip","name":"Ler WIP_BOARD","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"continueOnFail":true},{"parameters":{"jsCode":"const agora = new Date();\nconst horaBR = parseInt(agora.toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo', hour: '2-digit', hour12: false}));\nconst dataBR = agora.toLocaleDateString('pt-BR', {timeZone: 'America/Sao_Paulo'});\nlet periodo;\nif (horaBR >= 5 && horaBR < 12) periodo = 'MANHA';\nelse if (horaBR >= 12 && horaBR < 18) periodo = 'TARDE';\nelse periodo = 'NOITE';\nconst saudacoes = {MANHA: 'Bom dia, Diretor.', TARDE: 'Boa tarde, Diretor.', NOITE: 'Boa noite, Diretor.'};\nlet statusProjetos = '';\ntry {\n  const wipRaw = $('Ler WIP_BOARD').item.json;\n  let wip;\n  if (wipRaw && wipRaw.board) {\n    wip = wipRaw;\n  } else if (wipRaw && wipRaw.content) {\n    const decoded = Buffer.from(wipRaw.content.replace(/\\n/g, ''), 'base64').toString('utf8');\n    wip = JSON.parse(decoded.replace(/^\\uFEFF/, ''));\n  } else if (wipRaw && typeof wipRaw.body === 'string') {\n    wip = JSON.parse(wipRaw.body.replace(/^\\uFEFF/, ''));\n  } else {\n    wip = {};\n  }\n  const board = wip.board || {};\n  const todos = [];\n  if (board.build) todos.push(...board.build);\n  if (board.check) todos.push(...board.check);\n  if (board.retainer) todos.push(...board.retainer);\n  if (board.entregue) todos.push(...board.entregue);\n  const linhas = todos.map(function(p) {\n    const nome = p.cliente || p.id || 'Projeto';\n    const st = (p.status || 'ATIVO').split(' -- ')[0];\n    return '- ' + nome + ': ' + st;\n  });\n  statusProjetos = linhas.length > 0 ? linhas.join('\\n') : '- (sem projetos ativos)';\n} catch (e) {\n  statusProjetos = '- (ERRO: ' + e.message + ')';\n}\nreturn [{json: {periodo: periodo, saudacao: saudacoes[periodo], hora: horaBR, data: dataBR, timestamp: agora.toISOString(), statusProjetos: statusProjetos}}];"},"id":"code-periodo","name":"Detectar Periodo","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $env.TELEGRAM_CHAT_ID || '8895733647' }}"},{"name":"text","value":"={{ $json.saudacao + '\\n\\nCheck-in Vanguard IAH -- ' + $json.data + '\\n\\nStatus dos projetos:\\n' + $json.statusProjetos }}"}]}},"id":"telegram-checkin","name":"Enviar Check-in Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,300]},{"parameters":{"jsCode":"const item = $('Detectar Periodo').item.json;\nconst tsStr = new Date().toISOString().replace('T',' ').slice(0,16) + ' UTC';\nconst statusText = String(item.statusProjetos || '');\nconst NL = String.fromCharCode(10);\nconst DOT = String.fromCharCode(183);\nconst normalized = statusText.split(NL).join(DOT);\nconst projLines = normalized.split(DOT).map(function(l){return l.trim();}).filter(function(l){return l.length>0;});\nconst blocos = [{ object:'block', type:'heading_3', heading_3:{rich_text:[{type:'text',text:{content:'Check-in '+tsStr}}]} }];\nif(projLines.length===0) projLines.push(statusText.slice(0,200));\nprojLines.forEach(function(line){\n  blocos.push({object:'block',type:'bulleted_list_item',bulleted_list_item:{rich_text:[{type:'text',text:{content:line}}]}});\n});\nreturn [{ json: { notionChildren: blocos } }];"},"id":"code-notion-w1","name":"Preparar Notion Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_WIP_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","options":{"timeout":15000},"ignoreResponseCode":true,"jsonBody":"={{ JSON.stringify({ children: $('Preparar Notion Body').item.json.notionChildren }) }}"},"id":"notion-wip-w1","name":"Notion -- Append Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,300],"continueOnFail":true}],"connections":{"Cron -- 7h 13h 20h":{"main":[[{"node":"Ler WIP_BOARD","type":"main","index":0}]]},"Ler WIP_BOARD":{"main":[[{"node":"Detectar Periodo","type":"main","index":0}]]},"Detectar Periodo":{"main":[[{"node":"Enviar Check-in Telegram","type":"main","index":0}]]},"Enviar Check-in Telegram":{"main":[[{"node":"Preparar Notion Body","type":"main","index":0}]]},"Preparar Notion Body":{"main":[[{"node":"Notion -- Append Status","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Eduardo Vanguard","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-05T19:15:45.065Z","id":81,"workflowId":"rinBbgMlUTEccnTI","versionId":"1652f7fa-54b1-48bf-a719-84fd8db7db9e","event":"activated","userId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"},{"createdAt":"2026-06-06T15:24:44.103Z","id":88,"workflowId":"rinBbgMlUTEccnTI","versionId":"1652f7fa-54b1-48bf-a719-84fd8db7db9e","event":"activated","userId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"},{"createdAt":"2026-06-05T19:15:45.049Z","id":80,"workflowId":"rinBbgMlUTEccnTI","versionId":"1652f7fa-54b1-48bf-a719-84fd8db7db9e","event":"deactivated","userId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"},{"createdAt":"2026-06-06T15:24:43.404Z","id":87,"workflowId":"rinBbgMlUTEccnTI","versionId":"1652f7fa-54b1-48bf-a719-84fd8db7db9e","event":"deactivated","userId":"c9cce6ae-4208-4652-b8b0-becc6071d41a"}]}}
