_n8n/w5_churnwatch_upload.json
{"name":"05 -- ChurnWatch Diario","nodes":[{"id":"cron-churn","name":"Cron -- 9h BRT Diario","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"hours","minutesInterval":1440,"triggerAtHour":12,"triggerAtMinute":0}]}}},{"id":"code-prep-token","name":"Preparar Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const githubToken = $env.GITHUB_PAT_READONLY || \u0027\u0027;\nreturn [{ json: { githubToken: githubToken } }];"}},{"id":"http-wip","name":"GitHub -- Ler WIP_BOARD","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"continueOnFail":true,"parameters":{"method":"GET","url":"https://api.github.com/repos/subdiretormnmsgm-commits/vanguard/contents/CLIENTES/WIP_BOARD.json","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ \"token \" + $json.githubToken }}"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{"timeout":10000},"ignoreResponseCode":true}},{"id":"code-processar","name":"Processar WIP -- Calcular Churn","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"const raw = $input.item.json;\nconst hoje = new Date();\nconst diaSemana = hoje.getDay();\nlet alertas = [];\nlet resumo = [];\nlet lembreteDomingo = \u0027\u0027;\nconst MSGS = {\n  INGRID: {\n    silencio:  \u0027Ingrid, tudo bem? Estou por aqui se precisar de algo. \\ud83d\\ude42\u0027,\n    reativacao: \u0027Ingrid, estou por aqui. Como est\\u00e1 o estudo?\u0027,\n    relatorio:  \u0027Ingrid, semana encerrada! Me conta: quantas quest\\u00f5es voc\\u00ea respondeu essa semana? Quero atualizar o seu relat\\u00f3rio de progresso. \\ud83d\\udcca\u0027\n  },\n  VALDECE: {\n    reativacao: \u0027Dr. Valdece, tudo bem? Passando para saber como est\\u00e1 sendo a experi\\u00eancia com o sistema.\u0027\n  }\n};\nfunction getMsgAlerta(cliente, diasSem) {\n  const c = cliente.toUpperCase();\n  if (c === \u0027INGRID\u0027) return diasSem \u003e= 5 ? MSGS.INGRID.reativacao : MSGS.INGRID.silencio;\n  if (c === \u0027VALDECE\u0027) return MSGS.VALDECE.reativacao;\n  return null;\n}\ntry {\n  const content = raw.content ? Buffer.from(raw.content.replace(/\\n/g,\u0027\u0027),\u0027base64\u0027).toString(\u0027utf8\u0027) : null;\n  if (!content) throw new Error(\u0027WIP_BOARD vazio\u0027);\n  const wip = JSON.parse(content);\n  const board = wip.board || {};\n  [\u0027build\u0027,\u0027check\u0027,\u0027retainer\u0027].forEach(function(col) {\n    (board[col]||[]).forEach(function(p) {\n      const threshold = parseInt(p.churn_watch_threshold) || 3;\n      const ultimoContato = p.ultimo_contato_cliente;\n      if (!ultimoContato) return;\n      const dtUltimo = new Date(ultimoContato);\n      const diasSem = Math.floor((hoje - dtUltimo) / (1000*60*60*24));\n      const status = diasSem \u003e= threshold ? \u0027ALERTA\u0027 : \u0027OK\u0027;\n      resumo.push(p.cliente + \u0027: \u0027 + diasSem + \u0027d (threshold \u0027 + threshold + \u0027d) -- \u0027 + status);\n      if (diasSem \u003e= threshold) {\n        alertas.push({ cliente: p.cliente, diasSem: diasSem, threshold: threshold,\n          ultimoContato: ultimoContato, status: col.toUpperCase(),\n          msgSugerida: getMsgAlerta(p.cliente, diasSem) });\n      }\n      if (diaSemana === 0 \u0026\u0026 p.cliente.toUpperCase() === \u0027INGRID\u0027) {\n        lembreteDomingo = MSGS.INGRID.relatorio;\n      }\n    });\n  });\n} catch(e) {\n  resumo.push(\u0027ERRO ao ler WIP_BOARD: \u0027 + e.message);\n}\nconst dataHora = hoje.toISOString().replace(\u0027T\u0027,\u0027 \u0027).slice(0,16) + \u0027 UTC\u0027;\nlet textoResumo = \u0027ChurnWatch \u0027 + dataHora + \u0027\\n\\n\u0027 + resumo.join(\u0027\\n\u0027);\nif (lembreteDomingo) {\n  textoResumo += \u0027\\n\\n\\ud83d\\udccb Domingo -- mensagem sugerida para Ingrid:\\n\u0027 + lembreteDomingo;\n}\nlet textoAlerta = \u0027\u0027;\nif (alertas.length \u003e 0) {\n  const linhas = alertas.map(function(a) {\n    let txt = \u0027\\u26a0\\ufe0f \u0027 + a.cliente + \u0027 -- \u0027 + a.diasSem + \u0027d sem contato (limite: \u0027 + a.threshold + \u0027d)\\nUltimo: \u0027 + a.ultimoContato + \u0027 | \u0027 + a.status;\n    if (a.msgSugerida) txt += \u0027\\n\\n\\ud83d\\udcac Mensagem sugerida (copiar e enviar no WhatsApp):\\n\u0027 + a.msgSugerida;\n    txt += \u0027\\n\\nApos enviar: /ok \u0027 + a.cliente + \u0027 neste chat\u0027;\n    return txt;\n  });\n  textoAlerta = \u0027CHURNWATCH -- ALERTA\\n\\n\u0027 + linhas.join(\u0027\\n\\n---\\n\\n\u0027);\n}\nreturn [{ json: { textoResumo: textoResumo, textoAlerta: textoAlerta, temAlerta: alertas.length \u003e 0, chatId: $env.TELEGRAM_CHAT_ID || \u00278895733647\u0027 } }];"}},{"id":"if-alerta","name":"Tem Alerta?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,300],"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.temAlerta }}","value2":true}]}}},{"id":"telegram-alerta","name":"Telegram -- Alerta Churn","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"continueOnFail":true,"parameters":{"method":"POST","url":"={{ \u0027https://api.telegram.org/bot\u0027 + $env.TELEGRAM_BOT_TOKEN + \u0027/sendMessage\u0027 }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.chatId }}"},{"name":"text","value":"={{ $json.textoAlerta }}"}]}}},{"id":"telegram-resumo","name":"Telegram -- Resumo Diario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,420],"continueOnFail":true,"parameters":{"method":"POST","url":"={{ \u0027https://api.telegram.org/bot\u0027 + $env.TELEGRAM_BOT_TOKEN + \u0027/sendMessage\u0027 }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.chatId }}"},{"name":"text","value":"={{ $json.textoResumo }}"}]}}}],"connections":{"Cron -- 8h BRT Diario":{"main":[[{"node":"Preparar Token","type":"main","index":0}]]},"Preparar Token":{"main":[[{"node":"GitHub -- Ler WIP_BOARD","type":"main","index":0}]]},"GitHub -- Ler WIP_BOARD":{"main":[[{"node":"Processar WIP -- Calcular Churn","type":"main","index":0}]]},"Processar WIP -- Calcular Churn":{"main":[[{"node":"Tem Alerta?","type":"main","index":0}]]},"Tem Alerta?":{"main":[[{"node":"Telegram -- Alerta Churn","type":"main","index":0}],[{"node":"Telegram -- Resumo Diario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null}