_n8n/w5_churnwatch_upload.json
{"name":"05 -- ChurnWatch Diario","nodes":[{"id":"cron-churn","name":"Cron -- 8h BRT Diario","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"hours","minutesInterval":1440,"triggerAtHour":11,"triggerAtMinute":0}]}}},{"id":"code-prep-token","name":"Preparar Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const githubToken = $env.GITHUB_PAT_READONLY || '';\nreturn [{ json: { githubToken: githubToken } }];"}},{"id":"http-wip","name":"GitHub -- Ler WIP_BOARD","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"continueOnFail":true,"parameters":{"method":"GET","url":"https://api.github.com/repos/subdiretormnmsgm-commits/vanguard/contents/CLIENTES/WIP_BOARD.json","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ \"token \" + $json.githubToken }}"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{"timeout":10000},"ignoreResponseCode":true}},{"id":"code-processar","name":"Processar WIP -- Calcular Churn","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"const raw = $input.item.json;\nconst hoje = new Date();\nconst diaSemana = hoje.getDay();\nlet alertas = [];\nlet resumo = [];\nlet lembreteDomingo = '';\nconst MSGS = {\n  INGRID: {\n    silencio:  'Ingrid, tudo bem? Estou por aqui se precisar de algo. \\ud83d\\ude42',\n    reativacao: 'Ingrid, estou por aqui. Como est\\u00e1 o estudo?',\n    relatorio:  'Ingrid, semana encerrada! Me conta: quantas quest\\u00f5es voc\\u00ea respondeu essa semana? Quero atualizar o seu relat\\u00f3rio de progresso. \\ud83d\\udcca'\n  },\n  VALDECE: {\n    reativacao: 'Dr. Valdece, tudo bem? Passando para saber como est\\u00e1 sendo a experi\\u00eancia com o sistema.'\n  }\n};\nfunction getMsgAlerta(cliente, diasSem) {\n  const c = cliente.toUpperCase();\n  if (c === 'INGRID') return diasSem >= 5 ? MSGS.INGRID.reativacao : MSGS.INGRID.silencio;\n  if (c === 'VALDECE') return MSGS.VALDECE.reativacao;\n  return null;\n}\ntry {\n  const content = raw.content ? Buffer.from(raw.content.replace(/\\n/g,''),'base64').toString('utf8') : null;\n  if (!content) throw new Error('WIP_BOARD vazio');\n  const wip = JSON.parse(content);\n  const board = wip.board || {};\n  ['build','check','retainer'].forEach(function(col) {\n    (board[col]||[]).forEach(function(p) {\n      const threshold = parseInt(p.churn_watch_threshold) || 3;\n      const ultimoContato = p.ultimo_contato_cliente;\n      if (!ultimoContato) return;\n      const dtUltimo = new Date(ultimoContato);\n      const diasSem = Math.floor((hoje - dtUltimo) / (1000*60*60*24));\n      const status = diasSem >= threshold ? 'ALERTA' : 'OK';\n      resumo.push(p.cliente + ': ' + diasSem + 'd (threshold ' + threshold + 'd) -- ' + status);\n      if (diasSem >= threshold) {\n        alertas.push({ cliente: p.cliente, diasSem: diasSem, threshold: threshold,\n          ultimoContato: ultimoContato, status: col.toUpperCase(),\n          msgSugerida: getMsgAlerta(p.cliente, diasSem) });\n      }\n      if (diaSemana === 0 && p.cliente.toUpperCase() === 'INGRID') {\n        lembreteDomingo = MSGS.INGRID.relatorio;\n      }\n    });\n  });\n} catch(e) {\n  resumo.push('ERRO ao ler WIP_BOARD: ' + e.message);\n}\nconst dataHora = hoje.toISOString().replace('T',' ').slice(0,16) + ' UTC';\nlet textoResumo = 'ChurnWatch ' + dataHora + '\\n\\n' + resumo.join('\\n');\nif (lembreteDomingo) {\n  textoResumo += '\\n\\n\\ud83d\\udccb Domingo -- mensagem sugerida para Ingrid:\\n' + lembreteDomingo;\n}\nlet textoAlerta = '';\nif (alertas.length > 0) {\n  const linhas = alertas.map(function(a) {\n    let txt = '\\u26a0\\ufe0f ' + a.cliente + ' -- ' + a.diasSem + 'd sem contato (limite: ' + a.threshold + 'd)\\nUltimo: ' + a.ultimoContato + ' | ' + a.status;\n    if (a.msgSugerida) txt += '\\n\\n\\ud83d\\udcac Mensagem sugerida (copiar e enviar no WhatsApp):\\n' + a.msgSugerida;\n    return txt;\n  });\n  textoAlerta = 'CHURNWATCH -- ALERTA\\n\\n' + linhas.join('\\n\\n---\\n\\n');\n}\nreturn [{ json: { textoResumo: textoResumo, textoAlerta: textoAlerta, temAlerta: alertas.length > 0, chatId: $env.TELEGRAM_CHAT_ID || '8895733647' } }];"}},{"id":"if-alerta","name":"Tem Alerta?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,300],"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.temAlerta }}","value2":true}]}}},{"id":"telegram-alerta","name":"Telegram -- Alerta Churn","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"continueOnFail":true,"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.chatId }}"},{"name":"text","value":"={{ $json.textoAlerta }}"}]}}},{"id":"telegram-resumo","name":"Telegram -- Resumo Diario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,420],"continueOnFail":true,"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.chatId }}"},{"name":"text","value":"={{ $json.textoResumo }}"}]}}}],"connections":{"Cron -- 8h BRT Diario":{"main":[[{"node":"Preparar Token","type":"main","index":0}]]},"Preparar Token":{"main":[[{"node":"GitHub -- Ler WIP_BOARD","type":"main","index":0}]]},"GitHub -- Ler WIP_BOARD":{"main":[[{"node":"Processar WIP -- Calcular Churn","type":"main","index":0}]]},"Processar WIP -- Calcular Churn":{"main":[[{"node":"Tem Alerta?","type":"main","index":0}]]},"Tem Alerta?":{"main":[[{"node":"Telegram -- Alerta Churn","type":"main","index":0}],[{"node":"Telegram -- Resumo Diario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null}