_n8n/w7_v2_upload.json
{"name":"07 -- Veredito via Telegram MVP","nodes":[{"parameters":{"updates":["message"],"options":{}},"id":"telegram-trigger","name":"Telegram -- Receber Mensagem","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,300],"credentials":{"telegramApi":{"id":"pNmpmjEcJ1RUvpz3","name":"Vanguard IAH Bot"}},"webhookId":"9280a8e2-72ef-4fa0-a025-42fdadfc3662"},{"parameters":{"jsCode":"const msg = $input.item.json.message || {};\nconst texto = (msg.text || '').trim();\nconst chatId = msg.chat ? String(msg.chat.id) : '';\nconst fromId = msg.from ? String(msg.from.id) : '';\nconst DIRETOR_ID = '8895733647'; // LEDGER: Telegram chat_id do Diretor -- identidade fixa, nao valor de negocio\nconst isDiretor = (chatId === DIRETOR_ID || fromId === DIRETOR_ID);\nif (!isDiretor) {\n  return [{ json: { tipo: 'erro', valido: false, motivo: 'Acesso nao autorizado.', chatId: chatId || fromId } }];\n}\nconst queryMatch = texto.match(/^\\/(status|score|custo)(?:\\s+(.*))?$/i);\nif (queryMatch) {\n  return [{ json: { tipo: 'query', cmd: queryMatch[1].toLowerCase(), param: (queryMatch[2]||'').trim(), chatId: chatId } }];\n}\nconst cmdMatch = texto.match(/^\\/(aprovar|rejeitar|veredito)\\s+(.+)/i);\nif (!cmdMatch) {\n  return [{ json: { tipo: 'erro', valido: false, motivo: 'Cmds: /status /score /custo /aprovar X /rejeitar X /veredito D1:A', chatId: chatId } }];\n}\nconst cmd = cmdMatch[1].toLowerCase();\nconst arg = cmdMatch[2].trim().toUpperCase();\nlet itens = [];\nif (cmd === 'veredito') {\n  const matches = arg.match(/D\\d+:[ABC]/gi);\n  if (matches) itens = matches.map(function(m){ return { id: m.split(':')[0], veredito: m.split(':')[1] }; });\n} else {\n  const v = cmd === 'aprovar' ? 'A' : 'B';\n  itens = [{ id: arg, veredito: v }];\n}\nif (!itens.length) {\n  return [{ json: { tipo: 'erro', valido: false, motivo: 'Nenhum item reconhecido. Use D1:A D2:B', chatId: chatId } }];\n}\nconst agora = new Date();\nconst tsFile = agora.toISOString().replace(/[^0-9]/g,'').slice(0,12);\nconst dataHora = agora.toISOString().replace('T',' ').slice(0,16) + ' UTC';\nreturn [{ json: { tipo: 'veredito', valido: true, cmd: cmd, itens: itens, chatId: chatId, tsFile: tsFile, dataHora: dataHora } }];"},"id":"code-parsear","name":"Parsear Comando","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.valido }}","value2":true}]}},"id":"if-valido","name":"Comando Valido?","type":"n8n-nodes-base.if","typeVersion":1,"position":[680,300]},{"parameters":{"jsCode":"const item = $('Parsear Comando').item.json;\n\nconst nomeArquivo = 'VEREDITOS/VEREDITOS_' + item.tsFile + '.json';\n\nconst payload = {\n  timestamp: new Date().toISOString(),\n  dataHora: item.dataHora,\n  vereditos: item.itens,\n  fonte: 'telegram',\n  diretor_confirmado: true\n};\nconst payloadB64 = Buffer.from(JSON.stringify(payload, null, 2), 'utf8').toString('base64');\nconst commitMsg = 'veredito(telegram): ' + item.itens.map(function(i){ return i.id + ':' + i.veredito; }).join(', ');\n\nconst blocos = [];\nblocos.push({\n  object: 'block',\n  type: 'heading_3',\n  heading_3: { rich_text: [{ type: 'text', text: { content: 'Vereditos ' + item.dataHora } }] }\n});\nitem.itens.forEach(function(i) {\n  const label = i.veredito === 'A' ? 'APROVADO' : (i.veredito === 'B' ? 'DEVOLVER' : i.veredito);\n  blocos.push({\n    object: 'block',\n    type: 'bulleted_list_item',\n    bulleted_list_item: { rich_text: [{ type: 'text', text: { content: i.id + ' - ' + label } } ] }\n  });\n});\nblocos.push({\n  object: 'block',\n  type: 'paragraph',\n  paragraph: { rich_text: [{ type: 'text', text: { content: 'Arquivo: ' + nomeArquivo }, annotations: { italic: true, color: 'gray' } }] }\n});\n\nconst linhasConfirm = item.itens.map(function(i){\n  const label = i.veredito === 'A' ? 'APROVADO' : (i.veredito === 'B' ? 'DEVOLVER' : i.veredito);\n  return '  - ' + i.id + ': ' + label;\n}).join('\\n');\n\nconst confirmacao = 'Veredito registrado!\\n' + linhasConfirm + '\\n\\nArquivo: ' + nomeArquivo + '\\n' + item.dataHora;\n\nreturn [{ json: {\n  notionChildren: blocos,\n  confirmacao: confirmacao,\n  chatId: item.chatId,\n  nomeArquivo: nomeArquivo,\n  payloadB64: payloadB64,\n  commitMsg: commitMsg\n} }];\n"},"id":"code-preparar","name":"Preparar Registro","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,200]},{"parameters":{"method":"PUT","url":"={{ 'https://api.github.com/repos/subdiretormnmsgm-commits/vanguard/contents/' + $json.nomeArquivo }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'token ' + $env.GITHUB_PAT_WRITE }}"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: $json.commitMsg, content: $json.payloadB64, committer: { name: 'n8n Vanguard', email: 'subdiretor.mnmsgm@gmail.com' } }) }}","options":{"timeout":15000},"ignoreResponseCode":false},"id":"github-write","name":"GitHub -- Gravar VEREDITOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,200],"continueOnFail":true},{"parameters":{"method":"PATCH","url":"={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_PENDENTES_PAGE_ID + '/children' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.NOTION_API_TOKEN }}"},{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ children: $('Preparar Registro').item.json.notionChildren }) }}","options":{"timeout":15000},"ignoreResponseCode":true},"id":"notion-veredito","name":"Notion -- Log Veredito","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Preparar Registro').item.json.chatId }}"},{"name":"text","value":"={{ $('Preparar Registro').item.json.confirmacao }}"}]}},"id":"telegram-confirmar","name":"Telegram -- Confirmar Veredito","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,200],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Parsear Comando').item.json.chatId }}"},{"name":"text","value":"={{ $('Parsear Comando').item.json.motivo }}"}]}},"id":"telegram-erro","name":"Telegram -- Erro de Formato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,420],"continueOnFail":true},{"id":"if-query","name":"Eh Query?","type":"n8n-nodes-base.if","typeVersion":1,"position":[680,500],"parameters":{"conditions":{"string":[{"value1":"={{ $json.tipo }}","value2":"query","operation":"equal"}]}}},{"id":"code-query-prep","name":"Preparar Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,500],"parameters":{"jsCode":"const item = $input.item.json;\nconst cmd = item.cmd;\nconst param = (item.param || '').toLowerCase().trim();\nconst chatId = item.chatId;\nconst githubToken = $env.GITHUB_PAT_READONLY || '';\nconst supabaseUrl = $env.SUPABASE_URL || '';\nconst supabaseKey = $env.SUPABASE_ANON_KEY || '';\nlet url = '';\nlet authHeader = '';\nlet apiKey = '';\nif (cmd === 'status') {\n  url = 'https://api.github.com/repos/subdiretormnmsgm-commits/vanguard/contents/CLIENTES/WIP_BOARD.json';\n  authHeader = 'token ' + githubToken;\n} else if (cmd === 'score') {\n  if (supabaseUrl && supabaseKey) {\n    url = supabaseUrl + '/rest/v1/respostas?order=respondido_em.desc&limit=100&select=acertou,respondido_em';\n    authHeader = 'Bearer ' + supabaseKey;\n    apiKey = supabaseKey;\n  }\n} else if (cmd === 'custo') {\n  if (supabaseUrl && supabaseKey) {\n    url = supabaseUrl + '/rest/v1/custo_sessoes?order=data.desc&limit=10&select=data,custo_usd,tokens_totais';\n    authHeader = 'Bearer ' + supabaseKey;\n    apiKey = supabaseKey;\n  }\n}\nreturn [{ json: { url:url, authHeader:authHeader, apiKey:apiKey, cmd:cmd, param:param, chatId:chatId, semConfig:!url } }];"}},{"id":"http-query","name":"Executar Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,500],"continueOnFail":true,"parameters":{"method":"GET","url":"={{ $json.url }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.authHeader }}"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"apikey","value":"={{ $json.apiKey || '' }}"}]},"options":{"timeout":10000},"ignoreResponseCode":true}},{"id":"code-query-fmt","name":"Formatar Resposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,500],"parameters":{"jsCode":"const prep = $('Preparar Query').item.json;\nconst cmd = prep.cmd;\nconst chatId = prep.chatId;\nconst raw = $input.item.json;\nlet texto = '';\nif (prep.semConfig) {\n  texto = cmd + ': config pendente.\\nAdicionar no EasyPanel: SUPABASE_URL + SUPABASE_ANON_KEY';\n} else if (raw.message && typeof raw.message === 'string' && raw.message.length < 200) {\n  texto = cmd + ': erro -- ' + raw.message;\n} else if (cmd === 'status') {\n  try {\n    const content = raw.content ? Buffer.from(raw.content.replace(/\\n/g,''),'base64').toString('utf8') : null;\n    if (!content) throw new Error('sem conteudo');\n    const wip = JSON.parse(content);\n    const board = wip.board || {};\n    const linhas = [];\n    ['build','check','retainer'].forEach(function(col) {\n      (board[col]||[]).forEach(function(p) {\n        const f = p.loop_fase_atual || {};\n        linhas.push(col.toUpperCase()+'|'+p.cliente+' L'+(f.loop||'?')+'|'+(f.proximo||p.proximo_passo||'').slice(0,45));\n      });\n    });\n    texto = 'STATUS '+new Date().toISOString().slice(0,10)+'\\n\\n'+(linhas.length?linhas.join('\\n'):'(vazio)');\n  } catch(e) { texto = 'status: erro -- '+e.message; }\n} else if (cmd === 'score') {\n  try {\n    const rows = Array.isArray(raw) ? raw : [];\n    if (!rows.length) { texto = 'score: sem dados em respostas.'; }\n    else {\n      const ac = rows.filter(function(r){return r.acertou===true;}).length;\n      const pct = Math.round(ac/rows.length*100);\n      const lim = new Date(Date.now()-7*24*3600*1000).toISOString();\n      const rec = rows.filter(function(r){return r.respondido_em>=lim;});\n      const acRec = rec.filter(function(r){return r.acertou===true;}).length;\n      const pctR = rec.length ? Math.round(acRec/rec.length*100) : 0;\n      texto = 'SCORE INGRID\\n'+ac+'/'+rows.length+' ('+pct+'%)\\n7d: '+acRec+'/'+rec.length+' ('+pctR+'%)\\n'+new Date().toISOString().slice(0,10);\n    }\n  } catch(e) { texto = 'score: '+e.message; }\n} else if (cmd === 'custo') {\n  try {\n    const rows = Array.isArray(raw) ? raw : [];\n    if (!rows.length) { texto = 'custo: sem dados. Registrar sessoes primeiro.'; }\n    else {\n      const tot = rows.reduce(function(s,r){return s+(parseFloat(r.custo_usd)||0);},0);\n      const tok = rows.reduce(function(s,r){return s+(parseInt(r.tokens_totais)||0);},0);\n      texto = 'CUSTO '+new Date().toISOString().slice(0,7)+'\\nUSD: '+tot.toFixed(4)+'\\nTokens: '+tok.toLocaleString();\n    }\n  } catch(e) { texto = 'custo: '+e.message; }\n}\nreturn [{ json: { texto:texto, chatId:chatId } }];"}},{"id":"telegram-query-resp","name":"Telegram -- Resposta Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,500],"continueOnFail":true,"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.chatId }}"},{"name":"text","value":"={{ $json.texto }}"}]}}}],"connections":{"Telegram -- Receber Mensagem":{"main":[[{"node":"Parsear Comando","type":"main","index":0}]]},"Parsear Comando":{"main":[[{"node":"Eh Query?","type":"main","index":0}]]},"Comando Valido?":{"main":[[{"node":"Preparar Registro","type":"main","index":0}],[{"node":"Telegram -- Erro de Formato","type":"main","index":0}]]},"Preparar Registro":{"main":[[{"node":"GitHub -- Gravar VEREDITOS","type":"main","index":0}]]},"GitHub -- Gravar VEREDITOS":{"main":[[{"node":"Notion -- Log Veredito","type":"main","index":0}]]},"Notion -- Log Veredito":{"main":[[{"node":"Telegram -- Confirmar Veredito","type":"main","index":0}]]},"Eh Query?":{"main":[[{"node":"Preparar Query","type":"main","index":0}],[{"node":"Comando Valido?","type":"main","index":0}]]},"Preparar Query":{"main":[[{"node":"Executar Query","type":"main","index":0}]]},"Executar Query":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]},"Formatar Resposta":{"main":[[{"node":"Telegram -- Resposta Query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null}